
.section {
    border-bottom: solid;
    border-bottom-color: black;
    border-bottom-width: 5px;
}

.message {
    border-radius: 5px;
    border: hidden;
    background-color: aliceblue;
    padding: 5px;
}